<div class="container">
  <h1>Edit {{ contacts.first_name }} {{ contacts.last_name }}</h1>
  <a href="/contacts">Go to All Contacts</a>
  <hr>
  {{> "shared/errors" }}
  {{> "contacts/shared/form" }}
</div>
